.navbar {
  box-shadow: 2px 2px 5px #000;
  opacity: 0.9;
}

.navbar .nav-item .nav-link {
  color: #fff;
}

.background-overlay {
  background: rgba(48, 51, 107, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control,
.btn {
  border-radius: 0;
}

.team,
footer {
  background: #30336b;
}

img {
  width: 100%;
  max-width: 800px;
}
